body {
	background-color: #fffff0;
	font-family: 'Poppins', sans-serif;
	background: url(img/bg.jpg) no-repeat center / cover;
	overflow: hidden;
}
html {
	font-size: 16px;
}
ul {
	margin: 0;
	padding: 0;
}
.container {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
	align-items: center;
}
.converting-block {
	margin: 0 auto;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}

.converting-block-body {
	padding: 2rem;
	/*background: #c7158575;*/
}

.converting-block-body_title {
	font-size: 4rem;
	text-transform: uppercase;
	color: #fffff0;
}
.converting-block-body_input {
	padding: 1rem;
	width: 70%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: none;
	font-size: 1.5rem;
	outline: none !important;
	color: #4169e1;
	text-align: center;
	border: 1px solid #4169e1;
	background-color: #fffff0;
}
.converting-block-body_input::placeholder {
	color: #4169e18c;
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
}
.converting-block-body-btn {
	border: none;
	border-radius: 50px;
	width: 40%;
	margin-top: 3rem;
	padding: 1rem 1.5rem;
	font-size: 1.55rem;
	text-align: center;
	outline: none;
	text-transform: uppercase;
	background-color: #4169e1;
	color: #fffff0;
	transform: translateX(-6px);
	border: 1px solid #4169e1;
	transition: all ease 0.3s;
}

.converting-block-body-btn:hover {
	background-color: #173eb3;
}
.converting-block-body_output {
	padding: 2rem;
	background-color: #fffff0;
	/*width: 90%;*/
	margin: 0 auto;
	border-radius: 50px;
	border: 1px solid #4169e1;
	/*text-transform: uppercase;*/
	font-size: 1.5rem;
	margin-top: 3rem;
	line-height: 0;
}

.converting-block-palette {
	background-color: #87ceebcf;
	width: 10rem;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.converting-block-palette-body {
	height: 100%;
	width: 100%;
	
}

.converting-block-palette-body_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

.converting-block-palette-body_link {
	background-color: #C3002F;
	flex-basis: 60%;
	width: 40px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
	transition: all ease 0.5s
}

.converting-block-palette-body_link:hover {
	transform: scale(1.1);
}

.converting-block_open-btn {
	position: absolute;
	bottom: 3rem;
	right: 170px;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	background-color: #ffffff8f;
	border-radius: 50%;
	transition: all ease 0.5s;
	cursor: pointer;

}
.converting-block_open-btn:hover {
	background-color: #fff;
	transform: scale(1.2);
}
.converting-block_open-btn::before, .converting-block_open-btn::after {
	content: "";
	width: 16px;
	height: 2px;
	display: block;
	background-color: #173eb3;
	margin: 0 auto;
	position: absolute;
	right: 50%;
	margin-right: -8px;
	top:50%;
	margin-top: -1px;
}

.converting-block_open-btn::before {
	transform: rotate(35deg);
	transform-origin: right bottom;
	
}
.converting-block_open-btn::after {
	transform: rotate(-35deg);
	transform-origin: right top;
	
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.orange {
	background-color: orange;
}
.pink {
	background-color: pink;
}
.crimson {
	background-color: #dc143c;
}