body {
	background-color: #fffff0;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	/*background: url(img/bg.jpg) no-repeat center / cover;*/
	overflow: hidden;

}
html {
	font-size: 16px;
}
ul {
	margin: 0;
	padding: 0;
}
button {
	font-family: 'Josefin Sans', sans-serif;
}
button:focus {
	outline: none;
}
input::placeholder {
	font-family: 'Josefin Sans', sans-serif;
}
.disable-click {
	pointer-events: none;
}
.overlay {
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: #878787;
	opacity: 0.5;
}
.drag-row {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2rem;
	cursor: grab;
}
.no-transition {
	transition: none !important;
}

.zindex {
	z-index: 1;
}	
.input {
	position: absolute;
	z-index: 3;
	border: none;
	padding: .7rem 1rem;
	top: 1rem;
	left: 1rem;
	border-radius: 10px;
	outline: none;
	background-color: #fffff0;
	text-transform: uppercase;
	font-weight: 700;
}
.container {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
	align-items: center;
}
.converting-block {
	margin: 0 auto;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	transition: all ease .5s;


}

.converting-block-body {
	padding: 2rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 2;
	transition: all ease .5s;
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
}
.block-body-border {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.converting-block-body_title {
	font-size: 4rem;
	text-transform: uppercase;
	color: #fffff0;
	margin: 4rem 0;
}
.converting-block-body_input {
	padding: 1rem;
	width: 70%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: none;
	font-size: 1.5rem;
	outline: none !important;
	color: #4169e1;
	text-align: center;
	border: 1px solid #4169e1;
	background-color: #fffff0;
}
.converting-block-body_input::placeholder {
	color: #4169e18c;
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
}
.converting-block-body-btn {
	border: none;
	border-radius: 50px;
	width: 40%;
	margin-top: 3rem;
	padding: 1rem 1.5rem;
	font-size: 1.55rem;
	text-align: center;
	outline: none;
	text-transform: uppercase;
	background-color: #4169e1;
	color: #fffff0;
	transform: translateX(-6px);
	/*border: 1px solid #4169e1;*/
	transition: all ease 0.3s;
	z-index: 2;
}

.converting-block-body-btn__copy {
	position: relative;
	z-index: 2;
}


.converting-block-body-modal {
	text-transform: uppercase;
	background-color: #222;
	color: #fffff0;
	position: absolute;
	padding: 0.8rem 1rem; 
	line-height: 2rem;
	bottom: 4rem;
	left: 20%;
	right: 20%;
	border-radius: 10px;
	letter-spacing: .3rem;
	transition: all ease 0.5s;
	transform: translateY(1rem);
	opacity: 0;
	z-index: 1;
	font-size: 1rem;
}
.converting-block-body-modal-active {
	transform: translateY(0);
	opacity: 1;


}

.converting-block-body-btn:hover {
	background-color: #173eb3;
}
.converting-block-body_output {
	font-family: 'Poppins', sans-serif;
	padding: 2rem;
	background-color: #fffff0;
	margin: 0 auto;
	border-radius: 50px;
	border: 1px solid #4169e1;
	font-size: 1.5rem;
	margin-top: 3rem;
	line-height: 0;
	transition: all ease 0.5s;

}

.converting-block-palette {
	position: absolute;
	background-color: #87ceebcf;
	width: 10rem;
	right: -160px;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transform: translateX(-160px);	
	opacity: 0;
	transition: all ease 0.5s;
	z-index: 1;
	background: linear-gradient(25deg, #c3002fc9, #ff69b4c2, #9932ccd4);
    filter: drop-shadow(2px 4px 6px black);
}
.palette-active {
	opacity: 1;
	transform: translateX(0);
}

.converting-block-palette-body {
	height: 100%;
	width: 100%;
	
}

.converting-block-palette-body_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

.converting-block-palette-body_link {
	flex-basis: 60%;
	width: 40px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
	transition: all ease 0.5s;
	color: #fffff0;
	line-height: 3.8rem;
	text-transform: uppercase;
	/*font-weight: 700;*/
	font-family: 'Josefin Sans', sans-serif;


	font-size: .9rem;

}

.converting-block-palette-body_link:hover {
	/*transform: scale(1.1);*/
	filter: brightness(1.3);
}

.converting-block_open-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	background-color: #fffff0;
	border-radius: 50%;
	transition: all ease 0.5s;
	cursor: pointer;
	outline: none;
	opacity: 0.9;
	z-index: 3;

}

.converting-block_open-btn:hover {
	background-color: #fff;
	/*transform: scale(1.2);*/
	opacity: 1;
}

.open-btn-active {
	transform: rotate(180deg);
}

.converting-block_open-btn span::before, 
.converting-block_open-btn span::after
/*.converting-block_open-btn--history-modal span*/ {
	content: "";
	width: 16px;
	height: 3px;
	display: block;
	background-color: #173eb3;
	margin: 0 auto;
	position: absolute;
	right: 50%;
	margin-right: -8px;
	top:50%;
	margin-top: -1px;
}


.converting-block_open-btn span::before {
	transform: rotate(40deg) translateX(1.5px);
	transform-origin: right top;

	
}
.converting-block_open-btn span::after {
	transform: rotate(-40deg) translateX(1.5px);
	transform: ;
	transform-origin: right bottom;
	
}





.red {
	background-color: #c3002fc9;
}

.red .converting-block-body-btn {
	background-color: #ffa500;

}

.red .converting-block-body-btn:hover {
	background-color: #ff8400;
	border-color: #ff8400;
	
}

.red .converting-block-body_output {
	border: 1px solid #ff8c00;
}




.green {
	background-color: #2e8b57d6;
}
.green .converting-block-body-btn {
	background-color: #e6053b;

}
.green .converting-block-body-btn:hover {
	background-color: #cc0434;
	border-color: #cc0434;
	
}
.green .converting-block-body_output {
	border: 1px solid #e6053b;
}





.blue {
	background-color: #0000cdab;
}
.blue .converting-block-body-btn {
	background-color: #db7093;
}

.blue .converting-block-body-btn:hover {
	background-color: #af2c76;
	border-color: #af2c76;
	
}
.blue .converting-block-body_output {
	border: 1px solid #cd5c5c;
}





.orange {
	background: #ff8c00c7;
}
.orange .converting-block-body_output {
	border: 1px solid #4169e1;
}
.orange .converting-block-body-btn {
	/*border: 1px solid #000;*/
}





.pink {
	background-color: #ff69b4c2;
}

.pink .converting-block-body-btn {
	background-color: #1e90ff;
}
.pink	 .converting-block-body-btn:hover {
	background-color: #026ed6;
	border-color: #026ed6;
	
}
.pink .converting-block-body_output {
	border: 1px solid #191970;
}






.purple {
	background-color: #9932ccd4;
}
.purple .converting-block-body-btn {
	background-color: #000;

}

.purple .converting-block-body_output {
	border: 1px solid #000;
}

.purple .converting-block-body-btn:hover {
	background-color: #222;
}


/*INPUT-MODAL*/
.modal {
	position: absolute;
	z-index: 5;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 30rem;
	height: 15rem;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	overflow: hidden;
	transition: all ease 0.5s;
	
}

.input-modal {
	transform: translateY(-20rem);
}

.input-modal-actvie {
	transform: translateY(0);
}

.input-modal-body {
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	
}

.modal_title {
	margin: 1rem 0;
	text-transform: uppercase;
	color: #000080;
	font-size: 1.5rem;	
	line-height: 1.2rem;

}

.input-modal-body_field {
	width: 90%;
	padding: 0.8rem 1rem;
	border: 1px solid #000080;
	color: #000080;
	border-radius: 25px;
	text-transform: uppercase;
	margin: 1rem 0;
	font-weight: 700;
	outline: none;
}

.button-wrapper {
	background-color: #efefef;
	padding: 1.5rem;
	/*position: relative;*/	
	text-align: right;
	
}

.input-modal_btn {
	width: 8rem;	
	padding: 0.7rem 0;
	text-transform: uppercase;
	font-weight: 700;
	border: none;	
	background-color: #ccc;
	color: #ffffff;
	border-radius: 7px;
	cursor: pointer;
	transition: all ease 0.4s
	outline: none;
}
.input-modal_btn:first-child {
	margin-right: 0.5rem;
}
.input-modal_btn:hover:first-child {
	background-color: #3cb371;
}
.input-modal_btn:hover:last-child {
	background-color: #dc143c;
}

/*HISTORY-MODAL*/
.history-modal {
	position: fixed;
	height: 20rem;
	top: 35%;
	left: calc(50% - 275px);
	padding: 1.5rem;
	text-align: center;
	opacity: 0;
	margin: 0;
	transform: scale(0);
	transition: 0;
	transform-origin: top;
}

.history-modal-active {
	opacity: 1;
	transform: scale(1)
	
}

.history-modal_title {
	margin-bottom: 2rem;
}

.history-modal_list {
	list-style: none;
	overflow-y: scroll;
	height: 16rem;
}

.history-modal_row {
	border-bottom: 2px solid #000080;
	height: 3.5rem;
	/*padding: 1rem 0;*/
	margin-bottom: 2rem;
	text-align: left;
	vertical-align: middle;
	position: relative;

}

.history-modal_insert-title {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Poppins', sans-serif;
}

.history-modal_copy-title {
	padding: 0;
	margin: 0;
	padding-right: 3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Poppins', sans-serif;
}

.history-modal_copy-btn {
	position: absolute;
	right: .5rem;
	top: 25%;
	text-transform: uppercase;
	border: none;
	background: url(img/copy.svg) no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all ease 0.2s;
}
.history-modal_copy-btn:hover {
	transform: scale(1.05);
}

/*history-modal-btn-animation*/
.history-modal-btn {
  display: block;
  background-color: #fffff0;
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
  transition: all ease 0.4s;
}

.history-modal-btn:hover {
	opacity: 1;
}

.stroke {
  position: absolute;
  width: 60%;
  height: 4px;
  background: #173eb3;
  border-radius: 25px;
}

.stroke__left,
.stroke__right {
  top: 46%;
  transform: rotate(90deg);
}

.stroke__left {
  left: 2%;
}

.stroke__left--animate {
  animation-name: left-to-down;
  animation-duration: 0.5s;
}

.stroke__right {
  right: 3%;
}

.stroke__right--animate {
  animation-name: right-to-down;
  animation-duration: 0.5s;
}

.stroke__center {
  width: 40%;
  left: 28%;
  top: 48%;
}

.stroke__center--animate {
  animation-name: hide;
  animation-duration: 0.5s;
}

@keyframes left-to-down {
  from {
  }
  to {
    transform: rotate(59deg);
    left: 7%;
  }
}

@keyframes right-to-down {
  from {
  }
  to {
    transform: rotate(118deg);
    right: 7%;
  }
}

@keyframes hide {
  from {
  }
  to {
    opacity: 0;
  }
}

.stroke__left--animation-completed {
  transform: rotate(59deg);
  left: 7%;
}

.stroke__right--animation-completed {
  transform: rotate(118deg);
  right: 7%;
}

.stroke__center--animation-completed {
  opacity: 0;
}



/* back to letter */
.stroke__left--animate-reverse {
  animation-name: left-to-up;
  animation-duration: 0.5s;
}

.stroke__right--animate-reverse {
  animation-name: right-to-up;
  animation-duration: 0.5s;
}

.stroke__center--animate-reverse {
  animation-name: show;
  animation-duration: 0.5s;
}

@keyframes left-to-up {
  from {
  }
  to {
    transform: rotate(90deg);
    left: 0;
  }
}

@keyframes right-to-up {
  from {
  }
  to {
    transform: rotate(90deg);
    right: 0;
  }
}

@keyframes show {
  from {
  }
  to {
    opacity: 1;
  }
}